{% extends 'base.html' %}
{% block title %}Create Product{% endblock %}

	{% block content %}
	<div class="padding">
  		<div class="row">
  	 <div  class="col-md-10">
      <div class="box">
        <div class="box-header">
          <h2>Create Product</h2>
          <small>* Enable Tag Is Currently Not Used , Will Be Used For Future Enhancement Of The System</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <form role="form">
          {% csrf_token %}
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 form-control-label">Item Title</label>
              <div class="col-sm-10">
                <input type="text" class="md-input" id="inputEmail3" placeholder="Title">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 form-control-label">Description</label>
              <div class="col-sm-10">
                <input type="text" class="md-input" id="inputPassword3" placeholder="Description">
              </div>
            </div>
            <div class="form-group row m-t-md">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn primary">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  		</div>
  	</div>
	{% endblock %}