{% extends 'base.html' %}
{% block title %}Edit Product{% endblock %}


    {% block content %}
  
    <div class="padding">
        <div class="row">
     <div  class="col-md-10">
      <div class="box">
        <div class="box-header">
          <h2>Edit Product</h2>
          <small>Edit Product Carefully</small>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <form role="form" method="post">
          {% csrf_token %}
             {{ form.as_p }}
             <button type="submit" class="save btn btn-default">Save</button>
          </form>
        </div>
      </div>
    </div>
        </div>
    </div>
  
  {% block scripts %}
      {{ block.super }}    
      {{ form.media }}     
  {% endblock %}

  <script type="text/javascript">
  $(function(){

    $("#activeswitch").Sswitch({
      onSwitchChange: function() {
      }
    });
  
  });

  </script>





  {% endblock %}