{% extends 'base.html' %}
{% block title %}Edit Category{% endblock %}


	{% block content %}
  
	<div class="padding">
  		<div class="row">
  	 <div  class="col-md-10">
    
      {% if messages %}
  
        {% for message in messages %}
        <script type="text/javascript">
        $(function(){
          
            $.notify("{{ message }}", { showProgressbar: false,type: 'success' });
         
        });
        </script>
        {% endfor %}

      {% endif %}


      <div class="box">
        <div class="box-header">
          <h2>Edit Supplier</h2>
          <small></small>
          <!-- <button class="md-btn md-raised m-b-sm w-xl green pull-right">Add Category</button> -->
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          <form role="form" method="post">
          {% csrf_token %}
             {{ form.as_p }}
             <div class="form-group row m-t-lg">
              <div class="col-sm-4 col-sm-offset-2">
                <button type="button" class="btn white">Cancel</button>
                <button type="submit" class="btn primary">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  		</div>
  	</div>
  
 {% block scripts %}
      {{ block.super }}    
      {{ form.media }}     
  {% endblock %}

  <script type="text/javascript">
  $(function(){

    $("#activeswitch").Sswitch({
      onSwitchChange: function() {
      }
    });  
  });

  </script>

  {% endblock %}