{% extends 'base.html' %}
{% load table_tags %}
{% load static %}
{% block title %}Manage Supplier{% endblock %}

{% block content %}

{% if messages %}

        {% for message in messages %}
        <script type="text/javascript">
        $(function(){

            $.notify("{{ message }}", { showProgressbar: false,type: 'success' });

        });
        </script>
        {% endfor %}

      {% endif %}

	<div class="padding">
  		<div class="row">
  	 <div  class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h2>Manage Supplier</h2>
          <a href="{% url 'product:create_supplier' %}" class="label primary"><i class="fa fa-plus"></i> New Supplier</a>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">
          {% render_table item %}
        </div>
      </div>
    </div>
  		</div>
  	</div>

	{% endblock %}

